.button {
  width: 100%;
  padding: 12px 0;
  background-color: #fff;
  color: @green;
  font-size: 14px;
  border: 1px solid @light-gray;
  border-radius: 45px;

  &:hover {
    transform: scale(.95);
  }

  &:focus {
    opacity: .7;
  }
}
